body {
    font: 400 15px/1.8 Lato, sans-serif;
    background-color: #F1F1F1;
    color: #777;
}
.navbar-header a:hover {
    color: #fff !important;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: #AAA !important;
}
.card {
    margin: 5% auto;
    width: 85%;
}
.card-container {
    background-color: #C0C0C0;
}
.userDetails {
    color: #000;
    font-weight: bold;
}
.tab-content {
    margin-bottom: 15px;
}