body {
    font: 400 15px/1.8 Lato, sans-serif;
    background-color: #F1F1F1;
    color: #777;
}
.navbar-header a:hover {
    color: #fff !important;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #1E1E6B;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #070F35 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: #070F35 !important;
}
.card {
    margin: 5% auto;
    width: 85%;
}
.card-container {
    background-color: #F0F0F0;
}
.userDetails {
    color: #000;
    font-weight: bold;
}
.tab-content {
    margin-bottom: 15px;
}
.Imagecontainer {
    width: 30%;
    display: inline-block;
}
.radio {
    opacity: 0;
    position: absolute;
}
.block1 {
    background: url('../images/B1.jpg');
    cursor: pointer;
    text-indent: -999em;
    border: 10px solid white;
    width: 250px;
    height: 240px;
}
.block2 {
    background: url('../images/B1.jpg');
    cursor: pointer;
    text-indent: -999em;
    border: 10px solid white;
    width: 250px;
    height: 240px;
}
.block3 {
    background: url('../images/B1.jpg');
    cursor: pointer;
    text-indent: -999em;
    border: 10px solid white;
    width: 250px;
    height: 240px;
}
input[type="radio"]:checked + label {
    border: 5px solid orange;
}
.tab-heading {
    text-align: center;
    color: #000;
}
.floor-table {
    text-align: center;
}
table {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
table#t1 {
    vertical-align: middle;
    width: 50%;
    margin-left: 25%;
}
table#t1 tr:nth-child(even) {
    background-color: #BDE4FF;
}
table#t1 tr:nth-child(odd) {
    background-color: #FDFF93;
}
.odd, .even {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
.odd::after, .even::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.odd:hover, .even:hover {
  transform: scale(1.2, 1.2);
}
.odd:hover::after, .even:hover::after {
  opacity: 1;
}
td {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
}
.floor1 {
    cursor: pointer;
    font-weight: normal;
}
.floor2 {
    cursor: pointer;
    font-weight: normal;
}
.floor3 {
    cursor: pointer;
    font-weight: normal;
}
.floor4 {
    cursor: pointer;
    font-weight: normal;
}
.login-banner {
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
    color: #000;
}
.login-card {
    width: 30%;
    margin: 5% auto;
}